<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>52°扳倒井52 500ml</title>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/product_detail.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">

    <script src="/public/js/jquery-2.1.1.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="/public/js/login.js"></script>
    <script src="/public/js/data.js"></script>
    <script src="/public/js/tab_jQuery.js"></script>
</head>
<body>
<div class="topHeader">
    <div class="topCenter">
        <div class="topHeaderLeft">
            <div class="clearfix">
                <p>欢迎来到酒仙网&nbsp;&nbsp;!</p>
                <a href="javascript:;">请登录</a>
                <a href="javascript:;">免费注册</a>
            </div>
        </div>
        <div class="topHeaderRight">
            <ul>
                <li  class="li1">
                    <div class="myJiuixan">
                        <a href="#">我的酒仙</a>
                        <s class="publicIcon"></s>
                    </div>
                    <div class="myJiuxianDrapbox"></div>
                </li>
                <li class="li2">
                    <a href="#">CEO邮箱</a>
                </li>
                <li class="li3">
                    <i class="public"></i>
                    <a href="#">
                        购物车<span class="count">0</span>件
                    </a>
                </li>
                <li class="li4">
                    <a href="#">社区</a>
                </li>
                <li class="li5">
                    <a href="#">招商入驻</a>
                </li>
                <li class="li6">
                    <a href="#">手机逛酒仙</a>
                    <div class="drapDown"></div>
                </li>
                <li class="li7">
                    <i class="public"></i>
                    <a href="#">网站导航</a>
                    <s class="public"></s>
                    <div class="navBox" style="display: none">
                        <div class="subItem_first">
                            <h3>购物</h3>
                            <div class="snItm_con">
                                <a href="#">白酒</a>
                                <a href="#">葡萄酒</a>
                                <a href="#">洋酒</a>
                                <a href="#">啤酒</a>
                                <a href="#">保健酒</a>
                                <a href="#">黄酒</a>
                            </div>
                        </div>
                        <div class="subItem_two">
                            <h3>活动</h3>
                            <div class="snItm_con">
                                <a href="#">进口馆</a>
                                <a href="#">整箱套装</a>
                                <a href="#">清仓</a>
                                <a href="#">闪团</a>
                                <a href="#">新品发现</a>
                                <a href="#">值得买</a>
                            </div>
                        </div>
                        <div class="subItem_third">
                            <h3>其它</h3>
                            <div class="snItm_con">
                                <a href="#">会员中心</a>
                                <a href="#">社区</a>
                                <a href="#">常见问题</a>
                                <a href="#">礼品卡</a>
                                <a href="#">招商入驻</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="li8">
                    <i class="public"></i>
                    <a href="#">客户服务</a>
                    <div class="dropBox" style="display:none">
                        <a href="#">常见问题</a>
                        <a href="#">配送说明</a>
                        <a href="#">售后服务</a>
                    </div>
                </li>
                <li class="li9">
                    <a>客服热线<span class="tell">400-617-9999</span></a>
                </li>
            </ul>
        </div>
    </div>

</div>
<!--顶部焦点图-->
<div class="topFocusImg">
    <a href="#" class="img"></a>
</div>
<div class="midHeader">
    <div class="midHeader_center">

        <!--logo区域-->
        <div class="headLogo">
            <p class="logo">
                <a href="#">
                    <img src="/public/img/logo.png" alt="酒仙网">
                </a>
            </p>

            <p class="logo_gif">
                <a href="#">
                    <img src="/public/img/logo_gif.gif" alt="">
                </a>
            </p>
        </div>

        <!--顶部搜索区域-->
        <div class="topSearch">
            <form action="" class="searchHome">
                <input type="text" class="sear_input" id="wd" maxlength="50" name="key" autocomplete="off" placeholder="水井坊超级大牌日" value="">
                <input type="submit" value="搜索" class="seach_btn">
            </form>
            <div class="searHot">
                <a href="" class="first">超级大牌日</a>
                <a href="" class="second"><span class="hr">|</span>茅台</a>
                <a href=""><span class="hr">|</span>五粮液</a>
                <a href=""><span class="hr">|</span>剑南春</a>
                <a href=""><span class="hr">|</span>汾酒</a>
                <a href=""><span class="hr">|</span>酒鬼酒</a>
                <a href=""><span class="hr">|</span>古井贡</a>
                <a href=""><span class="hr">|</span>拉菲</a>
                <a href=""><span class="hr">|</span>茉莉花</a>
                <a href="">奔富</a>
            </div>

        </div>
        <div class="headerProtect">
            <a href="" class="nofollow"></a>
            <a href="" class="nofollow"></a>
            <a href="" class="nofollow"></a>
        </div>
    </div>
</div>
<div class="navwrap">
    <div class="nav">
        <div class="navMenu">
            全部商品分类
            <ul class="categoryBox " style="display: none;">
                <li class="pro_1">
                    <div class="side1">
                        <div class="title">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <h5>一键选酒</h5>
                        </div>
                        <div class="categoryList">
                            <p>
                                <a class="on" href="" rel="nofollow">整箱购</a>
                                <a href="" target="_blank" rel="nofollow">婚宴酒</a>
                                <a href="" target="_blank" rel="nofollow">大坛专区</a>

                            </p>
                            <p>
                                <a href="" target="_blank" rel="nofollow">家乡名酒</a>
                                <a class="on" href="" rel="nofollow">年份老酒</a>
                                <a href="" target="_blank" rel="nofollow">礼品酒</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="pro_2">
                    <div class="side1">
                        <div class="title">
                            <i class="fa fa-beer" aria-hidden="true"></i>
                            <h5>白酒</h5>
                        </div>

                        <div class="categoryList">
                            <p>
                                <a class="on" href="" rel="nofollow">茅台</a>
                                <a href="" target="_blank" rel="nofollow">五粮液</a>
                                <a href="" target="_blank" rel="nofollow">剑南春</a>
                                <a href="" target="_blank" rel="nofollow">汾酒</a>
                            </p>
                            <p>
                                <a href="" target="_blank" rel="nofollow">浓香型</a>
                                <a class="on" href="" rel="nofollow">酱香型</a>
                                <a href="" target="_blank" rel="nofollow">贵州</a>
                                <a href="" target="_blank" rel="nofollow">四川</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="pro_3">
                    <div class="side1">
                        <div class="title">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                            <h5>葡萄酒</h5>
                        </div>

                        <div class="categoryList">
                            <p>
                                <a class="on" href="" rel="nofollow">法国</a>
                                <a href="" target="_blank" rel="nofollow">澳大利亚</a>
                                <a href="" target="_blank" rel="nofollow">西班牙</a>

                            </p>
                            <p>
                                <a href="" target="_blank" rel="nofollow">中国</a>
                                <a href="" target="_blank" rel="nofollow">茉莉花</a>
                                <a class="on" href="" rel="nofollow">丁戈树</a>

                            </p>
                        </div>
                    </div>
                </li>
                <li class="pro_4">
                    <div class="side1">
                        <div class="title">
                            <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                            <h5>洋酒</h5>
                        </div>

                        <div class="categoryList">
                            <p>
                                <a class="on" href="" rel="nofollow">威士忌</a>
                                <a href="" target="_blank" rel="nofollow">白兰地</a>

                            </p>
                            <p>
                                <a href="" target="_blank" rel="nofollow">人头马</a>
                                <a href="" target="_blank" rel="nofollow">马爹利</a>
                                <a href="" target="_blank" rel="nofollow">真露</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="pro_5">
                    <div class="side1">
                        <div class="title">
                            <i class="fa fa-map-pin" aria-hidden="true"></i>
                            <h5>啤酒/黄酒/养生酒</h5>
                        </div>

                        <div class="categoryList">
                            <p>
                                <a class="on" href="" rel="nofollow">艾丝伯爵</a>
                                <a href="" target="_blank" rel="nofollow">青岛</a>
                                <a href="" target="_blank" rel="nofollow">1664</a>

                            </p>
                            <p>
                                <a href="" target="_blank" rel="nofollow">劲牌</a>
                                <a class="on" href="" rel="nofollow">猎鹰</a>
                                <a href="" target="_blank" rel="nofollow">狮虎争霸</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="pro_6">
                    <div class="side1">
                        <div class="title">
                            <i class="fa fa-bitbucket" aria-hidden="true"></i>
                            <h5>食尚</h5>
                        </div>

                        <div class="categoryList">

                            <p>
                                <a href="" target="_blank" rel="nofollow">洽洽食品</a>
                                <a class="on" href="" rel="nofollow">进口食品</a>
                                <a href="" target="_blank" rel="nofollow">茶叶</a>
                            </p>
                        </div>
                    </div>
            </ul>
        </div>

        <!--划入显示浮层-->
        <!--一键选酒-->
        <div class="mask " style="display: none;">
            <div class="slide_show" >
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>特色会场</h5>
                    </div>
                    <div class="l_list">
                        <a class="hot" href="" target="_blank">整箱购</a>
                        <a href="" target="_blank">家乡名酒</a>
                        <a href="" target="_blank">实惠大坛</a>
                        <a href="" target="_blank">喜宴用酒</a>
                        <a class="hot" href="" target="_blank">年份老酒</a>
                        <a href="" target="_blank">礼尚往来</a>
                        <a href="" target="_blank">海外直采</a>
                        <a href="" target="_blank">值得买</a>
                    </div>
                </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>精选会场</h5>
                    </div>
                    <div class="l_list">
                        <a class="hot" href="" target="_blank">新品尝鲜</a>
                        <a href="" target="_blank">新鲜特卖</a>
                        <a href="" target="_blank">精品店铺</a>

                    </div>
                </div><div class="list_wrap">
                <div class="l_title">
                    <h5>企业用酒</h5>
                </div>
                <div class="l_list">
                    <a class="hot" href="" target="_blank">商业用酒</a>
                    <a href="" target="_blank">员工福利</a>
                    <a href="" target="_blank">家餐用酒</a>

                </div>
            </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>红洋酒专区</h5>
                    </div>
                    <div class="l_list">
                        <a class="hot" href="" target="_blank">洋酒疯抢</a>
                        <a href="" target="_blank">整箱特惠</a>
                        <a href="" target="_blank">高分推荐</a>
                        <a href="" target="_blank">送礼优选</a>

                    </div>
                </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>名庄推荐</h5>
                    </div>

                    <div class="l_list">
                        <a class="hot" href="" target="_blank">名庄名窖</a>
                        <a href="" target="_blank">名庄特卖</a>

                    </div>
                </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                    </div>

                    <div class="l_list">

                    </div>



                </div>
                <div class="m_right">
                    <img src="public/img/nav_img.jpg" alt="" width="220" height="470">
                </div>
            </div>

            <!--白酒-->
            <div class="slide_show" style="display: none;">
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>品牌</h5>
                    </div>
                    <div class="l_list">
                        <div class="headTitle">
                            <span class="hot"><a href="">精选品牌</a></span>
                            <span><a href="">A</a></span>
                            <span><a href="">B</a></span>
                            <span><a href="">C</a></span>
                            <span><a href="">D</a></span>
                            <span><a href="">E</a></span>
                            <span><a href="">F</a></span>
                            <span><a href="">G</a></span>
                            <span><a href="">H</a></span>
                            <span><a href="">I</a></span>
                            <span><a href="">J</a></span>
                            <span><a href="">K</a></span>
                            <span><a href="">L</a></span>
                            <span><a href="">M</a></span>
                            <span><a href="">N</a></span>
                            <span><a href="">O</a></span>
                            <span><a href="">P</a></span>
                            <span><a href="">Q</a></span>
                            <span><a href="">R</a></span>
                            <span><a href="">S</a></span>
                            <span><a href="">T</a></span>
                            <span><a href="">U</a></span>
                            <span><a href="">V</a></span>
                            <span><a href="">W</a></span>
                            <span><a href="">X</a></span>
                            <span><a href="">Y</a></span>
                            <span><a href="">Z</a></span>
                        </div>
                        <div class="content">
                            <div class="content_productlist">
                                <a href="http://list.jiuxian.com/1-1-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">茅台</a>
                                <a class="hot" href="http://list.jiuxian.com/1-2-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">五粮液</a>
                                <a href="http://list.jiuxian.com/1-3-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">剑南春</a>
                                <a href="http://list.jiuxian.com/1-14-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">泸州老窖</a>
                                <a class="hot" href="http://list.jiuxian.com/1-7-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">洋河</a>
                                <a href="http://list.jiuxian.com/1-4-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">汾酒</a>
                                <a class="hot" href="http://list.jiuxian.com/1-8-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">水井坊</a>
                                <a href="http://list.jiuxian.com/1-1795-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">酒鬼酒</a>
                                <a class="hot" href="http://list.jiuxian.com/1-10-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">郎酒</a>
                                <a href="http://list.jiuxian.com/1-6-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">牛栏山</a>
                                <a href="http://list.jiuxian.com/1-27-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">西凤</a>
                                <a class="hot" href="http://list.jiuxian.com/1-405-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">习酒</a>
                                <a href="http://list.jiuxian.com/1-15-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">国窖1573</a>
                                <a href="http://list.jiuxian.com/1-16-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">董酒</a>
                                <a href="http://list.jiuxian.com/1-13-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">红星</a>
                                <a class="hot" href="http://list.jiuxian.com/1-2132-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">古井贡</a>
                                <a class="hot" href="http://list.jiuxian.com/1-412-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">扳倒井</a>
                                <a href="http://list.jiuxian.com/1-379-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">伊力特</a>
                                <a class="hot" href="http://list.jiuxian.com/1-272-0-0-0-0-0-1-0-0-0-0.htm?area=13#v2" target="_blank">孔府家</a>
                                <a href="http://list.jiuxian.com/1-5-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">金六福</a>
                                <a href="http://list.jiuxian.com/1-354-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">景芝</a>
                                <a class="hot" href="http://list.jiuxian.com/1-11-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">小糊涂仙</a>
                                <a class="hot" href="http://list.jiuxian.com/1-442-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">宝丰</a>
                                <a href="http://list.jiuxian.com/1-1776-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">全兴</a>
                                <a class="hot" href="http://list.jiuxian.com/1-17-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">汾阳王</a>
                                <a href="http://list.jiuxian.com/1-445-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">杏花村</a>
                                <a href="http://list.jiuxian.com/1-2478-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">金不换</a>
                                <a href="http://list.jiuxian.com/1-444-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">沱牌</a>
                                <a href="http://list.jiuxian.com/1-206-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">酒鬼</a>
                                <a href="http://list.jiuxian.com/1-1311-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">金沙</a>
                                <a href="http://list.jiuxian.com/1-270-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">国台</a>
                                <a href="http://list.jiuxian.com/search.htm?area=13&key=双沟" target="_blank">双沟</a>
                                <a href="http://list.jiuxian.com/1-2724-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">贵州五星</a>
                                <a href="http://list.jiuxian.com/1-579-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">英雄渡</a>
                                <a href="http://list.jiuxian.com/1-1756-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">茅台集团国隆</a>
                                <a class="hot" href="http://list.jiuxian.com/1-213-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">枝江</a>
                                <a href="http://list.jiuxian.com/1-956-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">兰陵</a>
                                <a href="http://list.jiuxian.com/1-1869-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">五岭洞藏</a>
                                <a href="http://list.jiuxian.com/1-194-0-0-0-0-0-1-0-0-0-0.htm?area=13#v2" target="_blank">白云边</a>
                                <a href="http://list.jiuxian.com/1-360-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">今世缘</a>
                                <a href="http://list.jiuxian.com/1-26-0-0-0-0-0-1-0-0-0-0.htm?area=13#v2" target="_blank">衡水老白干</a>
                                <a href="http://list.jiuxian.com/1-764-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">茅台白金</a>
                                <a href="http://list.jiuxian.com/1-20-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">迎驾</a>
                                <a href="http://list.jiuxian.com/1-1388-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">陈坛老窖</a>
                                <a href="http://list.jiuxian.com/1-718-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">小角楼</a>
                                <a href="http://list.jiuxian.com/1-387-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">河套</a>
                                <a href="http://list.jiuxian.com/1-2485-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0.htm?area=13" target="_blank">王祖烧坊</a>
                                <a class="more" href="http://list.jiuxian.com/1-0-0-0-0-0-0-0-0-0-0-0.htm?area=13#v2" target="_blank">更多 ></a>
                            </div >
                            <div class="content_productlist">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>香型</h5>
                    </div>
                    <div class="l_list">
                        <a class="hot" href="" target="_blank">浓香型</a>
                        <a href="" target="_blank">酱香型</a>
                        <a href="" target="_blank">清香型</a>
                        <a class="hot" href="" target="_blank">郁馥香型</a>
                        <a href="" target="_blank">兼香型</a>
                        <a href="" target="_blank">特香型</a>
                        <a class="hot" href="" target="_blank">芝麻香型</a>
                        <a href="" target="_blank">凤香型</a>
                        <a href="" target="_blank">老白干香型</a>
                        <a class="hot" href="" target="_blank">米香型</a>
                        <a href="" target="_blank">董香型</a>
                        <a href="" target="_blank">其它</a>
                    </div>
                </div><div class="list_wrap">
                <div class="l_title">
                    <h5>产地</h5>
                </div>
                <div class="l_list">
                    <a href="" target="_blank">贵州</a>
                    <a href="" target="_blank">四川</a>
                    <a class="hot" href="" target="_blank">山西</a>
                    <a href="" target="_blank">北京</a>
                    <a href="" target="_blank">江苏</a>
                    <a class="hot" href="" target="_blank">安徽</a>
                    <a href="" target="_blank">湖北</a>
                    <a href="" target="_blank">江西</a>
                    <a class="hot" href="" target="_blank">山东</a>
                    <a href="" target="_blank">河南</a>
                    <a href="" target="_blank">河北</a>
                    <a class="hot" href="" target="_blank">湖南</a>
                    <a href="" target="_blank">陕西</a>
                    <a href="" target="_blank">新疆</a>
                    <a class="hot" href="" target="_blank">内蒙古</a>
                    <a href="" target="_blank">台湾</a>
                    <a href="" target="_blank">吉林</a>
                </div>
            </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>价位</h5>
                    </div>
                    <div class="l_list">
                        <a class="hot" href="" target="_blank">1-40元</a>
                        <a href="" target="_blank">50-99元</a>
                        <a href="" target="_blank">100-199元</a>
                        <a href="" target="_blank">200-299元</a>
                        <a class="hot" href="" target="_blank">300-599元</a>
                        <a href="" target="_blank">600-999元</a>
                        <a href="" target="_blank">1000-1999元</a>
                        <a href="" target="_blank">2000元以上</a>
                    </div>
                </div>
            </div>
            <!--葡萄酒-->
            <div class="slide_show" >
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>红葡萄酒</h5>
                    </div>
                    <div class="l_list">
                        <a class="hot" href="" target="_blank">干红</a>
                        <a href="" target="_blank">半干红</a>
                        <a href="" target="_blank">甜红</a>
                        <a href="" target="_blank">半甜红</a>

                    </div>
                </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>白葡萄酒</h5>
                    </div>
                    <div class="l_list">
                        <a class="hot" href="" target="_blank">干白</a>
                        <a href="" target="_blank">半干白</a>
                        <a href="" target="_blank">甜白</a>
                        <a href="" target="_blank">半甜白</a>

                    </div>
                </div><div class="list_wrap">
                <div class="l_title">
                    <h5>桃红葡萄酒</h5>
                </div>
                <div class="l_list">
                    <a class="hot" href="" target="_blank">干型桃红</a>
                    <a href="" target="_blank">半干型桃红</a>
                    <a href="" target="_blank">甜型桃红</a>
                    <a href="" target="_blank">半甜型桃红</a>

                </div>
            </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>起泡酒</h5>
                    </div>
                    <div class="l_list">
                        <a class="hot" href="" target="_blank">起泡酒/香槟</a>
                        <a href="" target="_blank">干型起泡酒</a>
                        <a href="" target="_blank">半干型起泡酒</a>
                        <a href="" target="_blank">甜型起泡酒</a>
                        <a href="" target="_blank">半甜型起泡酒</a>

                    </div>
                </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>国家</h5>
                    </div>

                    <div class="l_list">
                        <a class="hot" href="" target="_blank">法国</a>
                        <a href="" target="_blank">澳大利亚</a>
                        <a class="hot" href="" target="_blank">法国</a>
                        <a href="" target="_blank">智利</a>
                        <a class="hot" href="" target="_blank">西班牙</a>
                        <a href="" target="_blank">意大利</a>
                        <a class="hot" href="" target="_blank">德国</a>
                        <a href="" target="_blank">中国</a>
                        <a class="hot" href="" target="_blank">南非</a>
                        <a href="" target="_blank">葡萄牙</a>
                        <a class="hot" href="" target="_blank">美国</a>
                        <a href="" target="_blank">俄罗斯</a>
                    </div>
                </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>品牌</h5>
                    </div>

                    <div class="l_list">
                        <a class="hot" href="" target="_blank">拉菲</a>
                        <a href="" target="_blank">奔富</a>
                        <a class="hot" href="" target="_blank">黄尾鼠袋</a>
                        <a href="" target="_blank">张裕</a>
                        <a class="hot" href="" target="_blank">长城</a>
                        <a href="" target="_blank">红魔鬼</a>
                        <a class="hot" href="" target="_blank">木桐</a>
                        <a href="" target="_blank">茉莉花</a>
                        <a class="hot" href="" target="_blank">丁戈树</a>
                        <a href="" target="_blank">纷裕</a>
                        <a class="hot" href="" target="_blank">蒙特斯</a>
                        <a href="" target="_blank">激情飞扬</a>
                        <a href="" target="_blank">杰卡斯</a>
                        <a class="hot" href="" target="_blank">32领域</a>
                        <a href="" target="_blank">小企鹅</a>
                        <a class="hot" href="" target="_blank">尼雅</a>
                    </div>
                </div>

                <div class="m_right">
                    <img src="public/img/nav_img2.jpg" alt="" width="220" height="470">
                </div>
            </div>

            <!--洋酒-->
            <div class="slide_show" >
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>品牌</h5>
                    </div>
                    <div class="l_list">
                        <a class="hot" href="" target="_blank">芝华士</a>
                        <a href="" target="_blank">马谛氏</a>
                        <a href="" target="_blank">深蓝</a>
                        <a href="" target="_blank">斯米洛</a>
                        <a class="hot" href="" target="_blank">百龄坛</a>
                        <a href="" target="_blank">人头马</a>
                        <a href="" target="_blank">轩尼诗</a>
                        <a href="" target="_blank">皇家礼炮</a>
                        <a class="hot" href="" target="_blank">杰克丹尼</a>
                        <a href="" target="_blank">百加得</a>
                        <a href="" target="_blank">绝对</a>
                        <a href="" target="_blank">尊尼获加</a>

                    </div>
                </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>品类</h5>
                    </div>
                    <div class="l_list">
                        <a class="hot" href="" target="_blank">白兰地</a>
                        <a href="" target="_blank">威士忌</a>
                        <a href="" target="_blank">伏特加</a>
                        <a href="" target="_blank">金酒</a>
                        <a class="hot" href="" target="_blank">龙舌兰</a>
                        <a href="" target="_blank">朗姆酒</a>
                        <a href="" target="_blank">力娇酒</a>
                        <a href="" target="_blank">韩国烧酒</a>
                        <a href="" target="_blank">预调酒</a>
                        <a href="" target="_blank">其它</a>

                    </div>
                </div><div class="list_wrap">
                <div class="l_title">
                    <h5>价格区间</h5>
                </div>
                <div class="l_list">
                    <a class="hot" href="" target="_blank">1-40元</a>
                    <a href="" target="_blank">50-99元</a>
                    <a href="" target="_blank">100-199元</a>
                    <a href="" target="_blank">200-299元</a>
                    <a class="hot" href="" target="_blank">300-599元</a>
                    <a href="" target="_blank">600-999元</a>
                    <a href="" target="_blank">1000-1999元</a>
                    <a href="" target="_blank">2000元以上</a>

                </div>
            </div>
                <div class="list_wrap">
                    <div class="l_title">
                        <h5>产地</h5>
                    </div>
                    <div class="l_list">
                        <a class="hot" href="" target="_blank">法国</a>
                        <a href="" target="_blank">澳大利亚</a>
                        <a class="hot" href="" target="_blank">法国</a>
                        <a href="" target="_blank">智利</a>
                        <a class="hot" href="" target="_blank">西班牙</a>
                        <a href="" target="_blank">意大利</a>
                        <a class="hot" href="" target="_blank">德国</a>
                        <a href="" target="_blank">中国</a>
                        <a class="hot" href="" target="_blank">南非</a>
                        <a href="" target="_blank">葡萄牙</a>
                        <a class="hot" href="" target="_blank">美国</a>
                        <a href="" target="_blank">俄罗斯</a>

                    </div>
                </div>
                <div class="m_right">
                    <img src="public/img/nav_img3.jpg" alt="" width="220" height="470">
                </div>
            </div>

        </div>

        <!--划入显示浮层结束-->

        <ul class="main_nav">
            <li><a href="#">首页</a></li>
            <li><a href="#">值得买</a></li>
            <li><a href="#">闪团</a></li>
            <li><a href="#">葡萄酒馆</a></li>
            <li><a href="#">洋酒馆</a></li>
            <li><a href="#">清仓</a></li>
            <li><a href="#">超级大牌日</a></li>
            <li><a href="#">新品</a></li>
            <li><a href="#">手机专享</a></li>
        </ul>
        <div class="navPromotion">
            <a href="#">
                <img src="/public/img/nav_ad.gif" alt="">
            </a>
        </div>

    </div>

</div>


<!--侧边栏导航-->
<div class="side_bar">
    <div class="slide_wrap">
        <ul>
            <li>
                <div class="icons_wrap1">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <a href="#"><p class="my">我</p></a>
                </div>

                <div class="detail1 icons_wrap1" style="display: none">
                    <div class="top" >
                        <a class="userImg"></a>
                        <p class="loginShow">您好，请<a class="login">登录</a></p>
                    </div><br/>
                    <div class="mid">
                        <div class="list">
                            <i class="icons1"><img src="/public/img/25单据-线性.png" alt="" width="40px" height="40px"></i>
                            <p><a href="">我的订单</a></p>
                        </div>
                        <div class="list">
                            <i class="icons1"><img src="/public/img/21优惠劵-线性.png" alt="" width="40px" height="40px"></i>
                            <p><a href="">我的优惠券</a></p>
                        </div>
                    </div><br/>
                    <div class="bottom">
                        <div class="list">
                            <i class="icons1"><img src="/public/img/01运输中、物流.png" alt="" width="40px" height="40px"></i>
                            <p><a href="">订单跟踪</a></p>
                        </div>
                        <div class="list">
                            <i class="icons1"><img src="/public/img/36合作、关系.png" alt="" width="40px" height="40px"></i>
                            <p><a href="">会员俱乐部</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="icons_wrap2" >
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <a href="#"><p class="catch">收藏</p></a>
                </div>
                <div class="detail2 icons_wrap2" style="display: none">
                    <div class="top">
                        <a class="userImg"></a>
                        <p class="received">您好，请<a class="login" >登录</a></p>
                    </div>
                </div>

            </li>
            <li>
                <div class="icons_wrap3">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <a href="#"><span>购物车</span></a>
                </div>

            </li>
            <li>
                <div class="icons_wrap4">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a href="#" style=" padding-bottom: 10px; margin-bottom: 10px"><span>在线客服</span></a>
                </div>

            </li>
            <li>
                <div class="icons_wrap5" >
                    <i class="fa fa-bell-o" aria-hidden="true"></i>

                </div>
                <div class="detail5 icons_wrap5" style="display: none">
                    <div class="top">

                        <a>用户反馈</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="icons_wrap6" >
                    <i class="fa fa-th-large" aria-hidden="true"></i>

                </div>
                <div class="detail6 icons_wrap6" style="display: none">
                    <div class="top">

                        <img src="/public/img/ad.jpg" alt="">
                    </div>
                </div>
            </li>
            <li>
                <div class= "icons_wrap7" >

                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>

                </div>
            </li>
        </ul>
    </div>

</div>
<!--导航栏焦点图-->
<img src="/public/img/product_detail1.jpg" alt="" class="mid_focus">
<!--导航栏焦点图结束-->

<div class="page">
    <ol class="breadcrumb">
        <li><a href="/">首页></a></li>
        <li><a href="#">白酒></a></li>
        <li><a href="#">扳倒井></a></li>
        <li class="active">52°扳倒井52 500ml</li>
    </ol>

</div>

<!--信息展示-->
<div class="main_content">
    <div class="main_left">
        <div class="main_left_top">
            <ul class="smallImg">
                <li class="small"><img src="/public/img/pro_big1.jpg" alt=""></li>
                <li class="small"><img src="/public/img/pro_big2.jpg" alt=""></li>
                <li class="small"><img src="/public/img/pro_big3.jpg" alt=""></li>
                <li class="small"><img src="/public/img/pro_big4.jpg" alt=""></li>
                <b class="moveMask"></b>
            </ul>
            <ul class="bigImg">
                <li><img src="/public/img/pro_big1.jpg" alt=""></li>
                <li><img src="/public/img/pro_big2.jpg" alt=""></li>
                <li><img src="/public/img/pro_big3.jpg" alt=""></li>
                <li><img src="/public/img/pro_big4.jpg" alt=""></li>
            </ul>
        </div>
        <div class="main_left_bottom">
            <ul>
                <li class="focus"><img src="/public/img/pro_small1.jpg" alt=""></li>
                <li><img src="/public/img/pro_small2.jpg" alt=""></li>
                <li><img src="/public/img/pro_small3.jpg" alt=""></li>
                <li><img src="/public/img/pro_small4.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="main_mid">
        <div class="main_mid_wrap">
            <div class="titleList">
                <div class="fl_title">
                    <h1>52°扳倒井52 500ml</h1>
                    <p>①浓香口粮②酒友品鉴认证</p>
                </div>
                <div class="fl_price">
                    <p><span class="title">酒仙价</span><span class="price"><s>￥39.00</s></span></p>
                    <p><span class="title">促销价</span><span class="cheap_price">￥<span class="emp">29.00</span></span><span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>剩余时间：
                        <span class="day red"></span>天<span class="hours red"></span>时<span class="minutes red"></span>分<span class="seconds red"></span>秒</span></p>
                    <p><span class="title">促&nbsp;&nbsp;销</span><span class="limit_time">限时抢购</span><span class="low_price">低价疯抢</span></p>
                </div>
            </div>
            <div class="fl_address">
                <div class="address_list">
                    <p>配送至</p><p class="address_detail"><span class="ch_provence">湖北省</span><span class="ch_city">武汉市</span><span class="ch_county">江岸区</span><span><i class="fa fa-chevron-down" aria-hidden="true"></i>

                </span></p> <span class="goods">有货</span><span class="train"><i class="fa fa-truck" aria-hidden="true"></i><span class="arriveTime">有货，预计4-5天可以送达</span></span>

                </div>
                <!--地址省份的选配-->
                <div class="address" style="display: none">
                    <div class="add_title" >
                        <p class="provence head active">请选择省份</p>
                        <p class="city head">请选择城市</p>
                        <p class="county head">请选择县/区</p>
                    </div>
                    <div class="provence_list" style="display: none">
                        <a href="javascript:;">北京</a><a href="">安徽</a><a href="">福建</a><a href="">甘肃</a><a href="">重庆</a><a
                            href="">河北</a><a href="">广东</a><a href="">广西</a><a href="">贵州</a><a href="">海南</a><a
                            href="">河南</a><a href="">黑龙江</a><a href="javascript:;">湖北</a><a href="">湖南</a><a href="">吉林</a><a
                            href="">宁夏</a><a href="">内蒙古</a><a href="">辽宁</a><a href="">江西</a><a href="">江苏</a><a
                            href="">青海</a><a href="">山东</a><a href="">山西</a><a href="">陕西</a><a href="">上海</a><a
                            href="">浙江</a><a href="">云南</a><a href="">新疆</a><a href="">西藏</a><a href="">天津</a><a href="">四川</a>
                    </div>
                </div>
                <div class="address_city" style="display: none">
                    <div class="add_title" >
                        <p class="provence head actives">请选择省份</p>
                        <p class="city head">请选择城市</p>
                        <p class="county head">请选择县/区</p>
                    </div>
                    <div class="list2">

                    </div>
                </div>
                <div class="count">
                    <p>数&nbsp;&nbsp;量</p>
                    <div class="num">
                        <div class="fl_num" >1</div>
                        <div class="fr_add"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
                        <div class="fr_remove"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>
                    <span class="info">此商品无原厂手提袋</span>
                </div>
                <a href="/user/cart"><div class="shop_car" >加入购物车</div></a>

            </div>

        </div>

    </div>
    <div class="main_right">
        <div class="top_logo">
            <img src="/public/img/pro_right_logo.jpg" alt="">
            <div><h4>扳倒井</h4></div>
            <div class="saler">酒仙自营</div>
        </div>
        <div class="promise">
            <ul>
                <li>
                    <span><i class="fa fa-diamond" aria-hidden="true"></i><span>售后无忧</span><br>
                    <p>七天无理由退换货</p><br>
                </li>
                <li>
                    <span><i class="fa fa-coffee" aria-hidden="true"></i><span>售后补充</span></span><br>
                    <p>啤/老酒无理由退换</p><br>
                </li>
                <li>
                    <span><i class="fa fa-truck" aria-hidden="true"></i><span>满百包邮</span></span><br>
                    <p>偏远地区满1000元包邮</p><br>
                </li>
                <li>
                    <span><i class="fa fa-credit-card" aria-hidden="true"></i><span>正品保障</span></span><br>
                    <p>厂家直供 品质保障</p><br>
                </li>
                <li>
                    <span class="online"><i class="fa fa-volume-control-phone" aria-hidden="true"></i><span>在线客服</span></span>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="jump_mask">
    <div class="login_wrap">
        <h4>登录</h4>
        <form action="" method="post" class="form_wrap">
            <label for="" class="input_wrap">
                <p>用户名：</p><input type="text" name="userName" id="userName" class="input">
            </label>
            <label for="" class="input_wrap">
                <p>密码：</p><input type="password" name="passWord" id="passWord" class="input">
            </label>

            <div class="sub" id="login">登录</div>
            <div class="forget">
                <a href="">忘记密码</a>
                <a href="/user/resigner">注册</a>
            </div>

        </form>
        <p class="showResult"></p>
    </div>
</div>
</body>
<script>
    //tab切换插件的引用
    $(".main_left_bottom ul li").changeTab({
        "selector":'.main_left_bottom ul li',
        "mainChange":'.smallImg li',
        "BigImg":'.bigImg li'
    })
</script>
</html>